:root {
    --bg: whitesmoke;
    --ftFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ftColor: green;
    --hfColor: rgb(255, 94, 36);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    text-align: center;
    font-family: var(--ftFamily);
    align-items: center;
}

header, h1 {
    width: 100%;
    background-color: var(--hfColor);
    color: white;
    align-items: center;
    text-align: center;
}

footer {
    background-color: var(--hfColor);
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.nav-menu {
    float: left;
    align-items: center;
    text-align: center;
}

table, tr, th, td {
    padding: 5px;
}

a.link {
    color: var(--hfColor);
    text-decoration: none;
}

a.link:hover {
    color: var(--ftColor);
    text-decoration: none;
}

a.link:active {
    color: var(--hfColor);
    text-decoration: none;
}

.content {
    text-align: justify;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}