:root {
    --bg: whitesmoke;
    --ftFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ftColor: green;
    --hfColor: rgb(255, 94, 36);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    text-align: center;
    font-family: var(--ftFamily);
    align-items: center;
}

header {
    width: 100%;
    height: 75px;
    background-color: var(--hfColor);
}

footer {
    background-color: var(--hfColor);
    text-align: center;
}

.nav-menu {
    float: left;
    align-items: center;
    text-align: center;
}